.bg-image-one{background-image:url("/images/berkeley.jpg")}
.bg-image{position:relative;background-position:center center;background-size:cover;height:130px;text-align:center}
.crossed-seperator{height:50px;margin:0;padding:0}
.crossed-seperator path.one{fill:#eee}
.crossed-seperator path.two{fill:#fffefb}
.crossed-seperator-bottom{position:absolute;left:0;right:0;bottom:-10px}
.crossed-seperator-top{position:absolute;left:0;right:0;top:-10px}
.crossed-seperator-bottom{position:absolute;left:0;right:0;bottom:-10px}
.name-header{color: #333333; font-family: ‘Trebuchet MS’, Helvetica, sans-serif;}
.top-intro{color: #8C8C8C; font-family: ‘Trebuchet MS’, Helvetica, sans-serif;}
.front-font{color: #8C8C8C; font-family: ‘Trebuchet MS’, Helvetica, sans-serif;}
.popover{max-width: 100%;}
.links{font-size: 18px; padding-left: 0.5cm; padding-top: 0.25cm;}
.main-section{padding-top: 0.5cm;}
p{font-size: 18px;}
.preload {
    position: absolute;
    visibility: hidden;
}
.front-image{ max-width: 50%;}
.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
